$brand-primary: #1B448E;

div#block-views-block-contact-details-content-block-1 {
  .table th{
    border-top:none;
  }
  .table-responsive.col {

    overflow-x: unset;
    padding: 0;
  }


  table {
    width: calc(100% - 3px);
    td {
      padding: 30px ;
      border-top: 3px solid $brand-primary ;
    }

    thead {
      tr {
        background-color: #FFFFFF; 

        @media (max-width: 992px) {
          th {
            display: inherit;
          }
        }
      }
    }


    th#view-field-contact-details-table-column {

      color: #FFFFFF;
      text-transform: uppercase;
      background-color: $brand-primary;
      border-left: 2px solid $brand-primary;
      border-top: 0px solid red;

      @media (max-width: 992px) {
        width: 113%;
        border: 0px solid;
        display: table-cell;
      }
    }

    tbody {
      tr {
        background-color: #EFF1FB !important;
        border-right: 3px solid $brand-primary;
        border-left: 3px solid $brand-primary;
        border-bottom: 3px solid $brand-primary;

        td.views-field.views-field-field-contact-details {
          padding-right: 0px !important; //padding-top: 12px;

          p {
            border-right: 1px solid;
            height: 200px;
          }
        }

        @media (max-width: 992px) {
          display: grid;
          width: 100%;
          border-top: 3px solid $brand-primary;

          td.views-field.views-field-field-contact-details {
            border-top: 0px solid !important;

            p {
              border-right: 0px solid !important;
              height: auto;
            }
          }
        }
      }
    }
  }
}






