#MainImage {
  position: relative;
  overflow: hidden;

  img {
    margin: -30px;
    height: auto;
    width: calc(100% + 60px);
  }

  #mainCoverText {
    position: absolute;
    top: 15%;
    margin-left: -15px;
    text-align: center;
    width: 100%;

    #botText,
    #topText {

      position: relative;
      color: black;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;

      .heading {
        font-weight: 900;
        font-size: 40px;

        @media (max-width: 500px) {
          font-size: 24px;
        }
      }

      .subHeading {
        font-weight: 900;
        font-size: 30px;

        @media (max-width: 500px) {
          font-size: 20px;
        }
      }

      .coverButton {
        padding: 15px;
        color: #FFFFFF;
        background-color: #FF4D6E;
        font-size: 20px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;

        @media (max-width: 500px) {
          font-size: 14px;
        }

        &:hover {
          text-decoration: none;
          font-size: 22px;
          border-radius: 20px;

          @media (max-width: 500px) {
            font-size: 18px;
          }
        }

      }
    }

    #botText {
      margin-top: 50px;

      @media (max-width: 500px) {
        margin-top: 30px;
      }
    }


  }
}
