// team page

div#block-views-block-team-block-1 {
  .views-row {

    border: 2px solid #1B448E;
    margin-bottom: 40px;
  }

  .views-view-grid.horizontal.cols-1.clearfix.col {
    padding: 0;
  }

  h2 {
    border: 2px solid #1B448E;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
    color: #1B448E;
  }

  .views-field-field-profile-photo {
    .field-content {
      float: left;
      max-width: 300px;
      width: 100%;
      height: auto;
      margin-right: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .views-field-title {

    a {

      font-size: 30px;
      font-weight: bold;
      color:#1B448E;
    }
  }

  .views-field-field-achievements {

    .list-group-item {
      background-color: #1B448E;
      padding: 8px;
      color: #ffffff;
    }
  }

  .views-field-body {

    border-left: 2px solid #1B448E;
    border-top: 2px solid #1B448E;
    float: left;

    .field-content {

      padding: 10px;
    }
  }

}
