// team page{

 
  
//contact block of andrew
div#block-views-block-team-block-3,
div#block-views-block-team-block-1 {
  .views-row {

    border: 3px solid #1B448E;
    margin-bottom: 40px;
  }
 .views-row.clearfix{
    background-color: #EFF1FB;
  }
  .views-view-grid.horizontal.cols-1.clearfix.col {
    padding: 0;
  }

  h2 {
  	line-height:1.5;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #1B448E;
    padding: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
    width: 42.8%;
    margin-bottom: 0px;
    // border: 2px solid #1B448E;
    // border-radius: 14px;
    // text-align: center;
    // font-weight: bold;
    // color: #1B448E;
  }

  .views-field-field-profile-photo {
    .field-content {
      float: left;
      max-width: 300px;
      width: 100%;
      height: auto;
      margin-right: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .views-field-title {

    a {

      font-size: 30px;
      font-weight: bold;
      color:#1B448E;
    }
  }

  .views-field-field-achievements {

    .list-group-item {
      background-color: #1B448E;
      padding: 8px;
      color: #ffffff;
    }
  }

  .views-field-body {

    border-left: 3px solid #1B448E;
    border-top: 3px solid #1B448E;
    float: left;

    .field-content {

      padding: 10px;
    }
  }

}
