/* ------------------ Header ------------------ */

#navbar-top {
  padding: 0 1rem;
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

#navbar-top.navbar-dark .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
  margin-right: 1rem;
}

@media (max-width: 33.9em) {

  .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 47.9em) {

  .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
  .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
    margin-left: 0;
    float: none;
  }
}



@media (max-width: 991px) {

  header#header nav#navbar-main .nav-item {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    width: 200px;
    padding: 0 10px 0 10px;
    margin-left: auto;
  }
}



//custom

header .container{
  padding:0px;
}

header#header {
  //position: fixed;
  //opacity: 0.9;
  //width: 100%;
  background-color: #EFF1FB;

  a.navbar-brand {

    //margin-left: 20%;
    font-weight: bold;
    font-size: 30px;
    width: 140px;
    margin-right: 0;
    text-align: center;
    color: #1B448E !important;

    img {
      vertical-align: middle !important;
    }
  }

  nav#block-eishtax-sass-subtheme-main-menu {
    margin-left: auto;
    //margin-right: 26%;
  }

  nav#navbar-main {
    .nav-item {

      border: 2px solid #1B448E;
      //border-radius: 30px;

      a {
        color: #1B448E;
        font-weight: bold;
        font-size: 24px;
      }

      ul.dropdown-menu.show {

        // max-width: 320px;
        .dropdown-item {
          
          // padding: 0px;

          a {

            border-top: 1px solid $brand-primary;
            padding: 6px;

            &:hover {

              background-color: $brand-primary;
              color: #ffffff;
            }
          }
        }
      }

      &.active,
      &:hover {
        background-color: #1B448E; //#77bfe8;

        a {
          color: #FFFFFF;
        }
        .dropdown-item a{
          color: $brand-primary;
        }
      }

      // &.active {
      //   background-color: #77bfe8;

      //   a {
      //     color
      //   }
      // }
    }
  }

  section.row.region.region-secondary-menu {
    margin-left: auto;
    padding-right: 50px;
  }



  .navbar-dark .navbar-toggler {
    border-color: #FFFFFF;
    background-color: #1B448E;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='#EFF1FB' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

    &:hover {
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='#1B448E' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
      }

      border-color: #1B448E;
      background-color: #FFFFFF;
    }
  }
}
